*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    background-image: url('./assets/img/glassesImage/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    height: 650px;
    text-align: center;
    position: relative;
    z-index: 1;
}

.header{
    color: white;
    background-color: rgba(0, 0,0, 0.7);
    z-index: 100;
    line-height: 70px;
    height: 70px;
    align-items: center;
    text-align: center;
}
.colorhelp{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0,0, 0.3);
    z-index: -1;
}
.row{
    
    display: flex;
    justify-content: center;

}
.modelleft img,.modelright img{
    width: 200px;
    margin: 25px 55px;
}
.glass{
    
    margin: 0 auto;
    width: 70%;
    height: 100px;
    background-color: white;
}
.glass img{
    margin: 25px 15px;
    width: 90px;
    height: 50px;
    border: solid 1px;
}
.modelimg{ 
    position: relative;
}
.glasschange img{
    width: 100px;
    opacity: 0.5;
}
.glasschange{
    position: absolute;
    top:20%;
    left: 16%;
}